*.ipr
*.iml
*.iws
/.idea/*
!/.idea/codeStyleSettings.xml
!/.idea/projectCodeStyle.xml
!/.idea/vcs.xml
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
**/target/

/docs/**/.asciidoctor/
/docs/**/diag-*.png
/temp/
/.misc/
/_misc/
/misc/
serverlicense.jar
derby.log
vaadin_desktop_GWT.xml
rebel.xml
.rebel.xml.bak
adito.properties
